* {
  box-sizing: border-box;
}
body{
  line-height: 1.5; 
margin: 0 auto;
}

.container{
  margin: 0 auto;
  display: flex;
  background-color: rgb(211, 211, 221);
  flex-direction: column;
  flex-grow: 1;
  max-width: 1200px;  
  min-width: 320px;
  min-height: 100vh;
  background-image: url("bkg.svg");
  background-repeat: no-repeat;
}

.main-page{  
  font-size: 16px;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.left-clm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


.photo-cont{ 
  display: flex;
  margin: 5px 0px; 
  height: 210px;  
  margin-left: -100px;
}
.photo{
border-radius: 50%;
height: 100%;
width: 100%;
flex-shrink: 0;
object-fit: cover;
}

h2{
  font-size: 36px;
  font-family:monospace;
  mix-blend-mode: hard-light;
}
h1{
  font-size: 36px;
  font-family:monospace;
  align-items: center;
  padding-right: 20px;
}


.right-clm{
display: flex;
flex-direction: column;
width: 50%;
align-items: center;
flex-grow: 1;
}

.header{  
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 210px;
}

.header h1{
  text-align: right;
  color: rgb(14, 14, 13);
  max-height: 100px;
  font-size: 55px;
  font-family:monospace;
  text-transform: capitalize;
}
.section-r{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    flex-grow: 1;
    padding-right: 20px;
}
.sect{
  width: 100%;
}
.sect-title{
  display: flex;
  justify-content:flex-end;
  align-self: end;   
}
.span{
  background-color: black;
  color: bisque;
  padding: 0px 10px;
  font-size: 0.8em;
  border-radius: 20px 0 0 20px;
}
.cntcs-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.cntcs-list li{
  flex-grow: 1;
}
.cntcs-list li a img{
  width: 60px;
  height: 60px;
  border-radius: 70px;
}

li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

.hr{
  display: flex;
  width: 300px;
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.dates{
  font-size: 1.5em;
  color: blue;
  display: inline-block;
  width: 100px;
  font-size: 20px;
}
.timestamp{
  min-width: 100%;
  display: block;
  height: 100px;
}
.span-el-ed{

    font-size: 21px;
    color: black;
    width: 100%;
    height: 50px;
    margin-top: -10px;

}
.list-work{
  font-size: 2em;
  list-style: none;
  border-left: 2px black;
}
.list-lang{
  font-size: 2em;
  list-style: none;
  border-left: 2px black;
}
.lang{
  font-size: 27px;
  padding: 5px;
}
.langsc{
  margin-top: 5px;
  display: inline-flex;
  flex-grow: 1;
  height: 45px;
}
.valL{
  display: flex;
  width: 65%;
  background-color: green;
  font-size: 28px;
  color:white;
}
.valLf{
  display: flex;
  width: 100%;
  background-color: green;
  font-size: 28px;
  color:white;
  margin-right: 5px;
}
.valR{
  width: 35%; 
  background-color: white;
  margin-right: 5px;
}

.innerL{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  font-size: 20px;
  padding-top: 10px;
}

.el1{
  width:fit-content;
  align-self: center;
  font-size: 0.8em;
  overflow: hidden;
  margin-bottom:0px;
  background-color: blue;
  color: beige;
  padding-left: 5px;
  border-radius: 10px 10px 10px 10px;

}
.dates{
  color: beige;
  padding-left: 5px;
  border-radius: 20px;
}
.el2{
  width: 100%;
  max-height:100px;
  overflow: hidden;
  font-size: 25px;
  padding-left: 20px;
}


.list-work li::before{
  content:"";
  position: absolute; /* adjust manually */
  border: 5px solid black;
  border-radius: 100%;
  background-color: rgb(238, 211, 211);
  height: 50px;
  top: 89px;
  left: 6px ;
  width: 10px;
  height: 10px;
}

.list-work li:hover{
  transform: scale(1.1);
  z-index: 1;
  background-color: rgb(211, 211, 221);
  box-shadow: 7px 8px 8px  #888888;
  outline: 0.5px solid black;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: all 500ms ease-in-out;
}
.list-lang{
  font-size: 25px;
}
footer{
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(8, 8, 8);
  justify-content: space-around;
}
.f1,.f2{
align-items: flex-end;
padding: 0 15px 0 15px;
background-color: black;

}
.logo{
  width: 70px;
height: 70px; 
-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
filter: invert(100%);
}


.code{
  justify-content: flex-end;
  width: fit-content;
  background-color: rgb(178, 178, 221);
  margin-left: 20px;
  font-family: monospace;
}
.code:hover{
  transition: all 500ms ease-in-out;
  transform: scale(1.1);
  z-index: 1;
}

.aboutme{
font-size: 25px;
padding: 30px;
}

.aboutme:hover{
  transform: scale(1.1);
  z-index: 1;
  background-color: rgb(211, 211, 221);
  box-shadow: 7px 8px 8px  #888888;
  outline: 0.5px solid black;
  margin-bottom: 30px;
  margin-top: 5px;
  transition: all 500ms ease-in-out;
}